* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5,h6, p, ul{
    margin: 0;
    padding: 0;
}
header{
    margin: 10px 0;

}

.header_wraper{ 
     width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

.logo{
    width: 20%;

}
.unsubscribe{
    width: 20%;
    margin-left: 0;
    

}
.unsubscribe a{
    text-decoration: none;
    color: #97999b;
}
.banner{
    min-height: 500px;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.text{
    
    
}
.text h1{ 
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase
     font-family: 'Roboto', sans-serif;   
}
.text h5{
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
}
.text button{
    background-color: #fb6e52;
    color: #ffffff;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s all ease-in-out;
    text-transform:capitalize;
    font-family: 'Roboto', sans-serif;
    
    
    
}
.text button i{
    transition: .5s all ease-in-out;
}

.text button:hover{
    background-color: #e43715;
}
.text button:hover i{
    margin-left: 4px;
}
.feature_section{
    
}
.feature_wraper{
    width: 70%;
    margin: auto;
    padding: 80px 0;
    
    
    
}
.feature{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.web{
    width: 30%;
}

.icon{
    height: 60px;
    width: 60px;
    background-color: #fb6e52;
    color: white;
    border-radius: 50%;
    font-size: 35px;
    line-height: 60px;
    margin: auto;
    margin-bottom: 20px;
}
.web i{
    
}
.web h3{
   color: #292c34;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300; 
    margin-bottom: 20px;
}
.web p{
        font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #97999b;
    font-weight: 400;
    
}
.graphic {
    width: 30%;
}
.graphic i{
    
}
.graphic h3{
    color: #292c34;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300; 
    margin-bottom: 20px;
    
}
.graphic p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #97999b;
    font-weight: 400;
    
}
.photography{
    width: 30%;
}
.photography i{
    
}
.photography h3{
    color: #292c34;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300; 
    margin-bottom: 20px;
    
}
.photography p{
   font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #97999b;
    font-weight: 400; 
    
}
.quote{
     text-align: center;
    font-family: 'Roboto', sans-serif; 
    color: #fb6e52;
   font-weight: 100;
    font-size: 25px;
    margin-top: 60px;
    font-style: italic;
}
.picture{
   width: 100%;
    
   
}
.picture_wraper{
    width: 70%;
    display:flex; 
    justify-content: space-between;
     margin: auto ;
    padding: 60px;
    text-align: center;
}
.one{
    width: 30%
    
}
.one img{
    padding-bottom: 20px;
    
}
.one h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #292c34;
    padding-bottom: 10px;
    
    
}
.one p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #97999b;
    font-weight: 300;
    
}
.two{
    width: 30%;
    
}
.two img{
     padding-bottom: 20px;
    
}
.two h1{
     font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #292c34;
    padding-bottom: 10px;
    
}
.two p{
     font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #97999b;
    font-weight: 300;
    
}
.three{
    width: 30%;
    
}

.three img{
     padding-bottom: 20px;
    
}
.three h1{
     font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #292c34;
    padding-bottom: 10px;
    
}
.three p{
     font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #97999b;
    font-weight: 300;
}
.blog{
    background-color: #f9f9f9;
    height: 800px;
    padding-top: 60px;
  

}
.blog_wraper{
    width: 70%;
    margin: auto;
  
}
.blog h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #292c34;
    font-size: 50px;
    
}
 .main{
     display: flex;
     justify-content: space-between;
     margin: auto;
  padding: 60px;

 }
 .item4{
     width: 48%;
     
     

 }
 .item4 img{
     width: 100%;
     padding-bottom: 20px;
    

 }
 .item4 h5{
     text-align: left;
      font-family: 'Roboto', sans-serif;
     font-weight: 400;
     color: #fb6e52;
     font-size: 20px;
     

 }
 .item4 p{
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     color: #97999b;
     

 }
 .item5{
     width: 48%;
     
     

 }
 .item5 img{
     width: 100%;
     padding-bottom: 20px;

 }
 .item5 h5{
    text-align: left;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fb6e52;
    font-size: 20px;

 }
 .item5 p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #97999b;
   
    

 }

 footer{
   background-color: #292c34;
   
    
   

 }

 .container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
     

 }
 .left{
     display: flex;
     align-items: center;
     ;
    
     
     

 }
 .left img{

 }
 .left h5{
     color: #797c82;
     font-size: 14px;
     font-weight: 300;
     padding: 30px;

 }
 .right{
    
  

 }
 .right ul{
     display: flex;
     list-style: none;
     
     
    
    

 }
 .right ul li{
     
     margin-right: 15px;

 }
 .right ul li a{
     color: #ffffff;
     margin-left: 20px;
   

 }
